<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="img/favicon/favicon.gif" type="image/gif">
    <link href="css/reset.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="libs/slick-carousel/slick/slick.css"/>
    <link href="css/styles.css" rel="stylesheet">


    <script type="text/javascript" src="libs/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="libs/slick-carousel/slick/slick.js"></script>
    <script src="js/script.js"></script>

    <title>Marshall Guitar Amplifiers</title>

</head>

<body>