<header>
    <div class="wrapper">
        <div class="line-top">
            <nav class="nav-top">
                <a class="nav-top__button" href="#">MENU</a>
                <ul>
                    <li><a href="#">PRODUCTS</a>
                    </li>
                    <li><a href="#">NEWS</a>
                    </li>
                    <li><a href="#">SUPPORT</a>
                    </li>
                    <li><a href="#">STORE</a>
                    </li>
                </ul>
            </nav>
            <div class="social">
                <a href="#" class="social__facebook anim-parent">
                    <svg class="social__facebook-img" viewBox="0 0 256 256">
                        <use xlink:href="img/Facebook_Icon_256.svg#facebook-icon"></use>
                    </svg>
                </a>
                <a href="#" class="social__vk anim-parent">
                    <svg class="social__vk-img" viewBox="-1 0 32 30">
                        <use xlink:href="img/vkontakte2.svg#Vkontakte"></use>
                    </svg>
                </a>
                <a href="#" class="social__twitter anim-parent">
                    <svg class="social__twitter-img" viewBox="0 0 500 500">
                        <use xlink:href="img/twitter-logo-vector.svg#twitter-logo"></use>
                    </svg>
                </a>
            </div>
        </div>

        <div class="line-bot">
            <div class="menu">
                <form class="menu__search-form" method="get">
                    <input type="text" name="search" placeholder="SEARCH" class="menu__search-input">
                    <a href="#" class="menu__search-button  anim-parent">
                        <svg class="menu__search-button-img" viewBox="0 0 32 32">
                            <use xlink:href="img/search.svg#search"></use>
                        </svg>
                    </a>
                </form>

                <div class="menu__cart">
                    <span class="menu__cart-text">Cart: 0</span>
                    <a href="#" class="menu__cart-icon  anim-parent">
                        <svg class="menu__cart-icon-img" viewBox="0 0 350 350">
                            <use xlink:href="img/cart_icon.svg#cart"></use>
                        </svg>
                    </a>
                </div>

                <a class="menu__signin  anim-parent" href="#">
                    <!--<img src="img/account.svg" alt="">-->
                    <svg class="menu__signin-img" viewBox="0 0 139 139">
                        <use xlink:href="img/account.svg#Profile"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</header>
<div class="logo-line">
    <div class="wrapper">
        <a class="logo">
            <svg class="logo__img" viewBox="0 100 500 130">
                <use xlink:href="img/marshall-logo.svg#marshall-logo"></use>
            </svg>
        </a>
    </div>
</div>