@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body * {

    font-family: 'PT Sans', sans-serif;
    /*font-weight: bold;*/
    font-size: 16px;
    margin: 0;
    padding: 0;
    /*perspective: -500px;*/
    /*perspective-origin: 50% 50%;*/

}

body {
    /*position: fixed;*/
    /*position: relative;*/
    background: #1a2a35;
    /*background: #1a2a35 url(../img/marshall-logo-bg.svg) 0 0 repeat;*/
}
.logo-bg{
    position: fixed;
    background:  url(../img/marshall-logo-bg.svg) 0 0 repeat;
    /*top:0px;*/
    /*left:0px;*/
    /*right:0px;*/
    /*bottom:0px;*/
    z-index: -1;
    width: 100%;
    height: 300%;
    /*transform: translate3d(0px, 300px, -100px);*/

}



.wrapper {
    display: flex;
    position: relative;
    transform: translate3d(0px, 0px, -10000px);
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    /*background: rgba(0%,0%,0%, 0.2);*/
    background: rgba(100%, 100%, 100%, 0.1);

    max-width: 1280px;
    margin: 0 auto;
    /*margin: 0 100px;*/
}

header {

    position: fixed;
    /*display: block;*/
    width: 100%;
    z-index: 1050;
    /*align-items: center;*/
    /*min-height: 80px;*/
    background: rgba(0%, 0%, 0%, 0.7);
    /*align-content:center;*/
}

header .wrapper {
    display: block;
    position: relative;
    /*min-height: 80px;*/
    /*align-content:center;*/
}

header .line-top {
    /*display: block;*/
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    /*min-height: 80px;*/
    /*background: rgba(0%,0%,0%, 0.4);*/
    /*align-content:center;*/
}



.nav-top {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    margin-right: 20px;
    margin-left: auto;
    height: 100%;
}

.nav-top ul {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items:center;
    list-style: none;
    height: 100%;

}

.nav-top li {

    text-align: left;
    /*border-right:1px solid #fff;*/
    margin: 0 7px;

}

.nav-top__button {
    display: none;
    /*display: inline-block;*/
    padding: 12px 10px;
    /*margin-right:0px;*/
    color: #fff;
    font-size: 17px;
    border: 1px solid #f00;
    text-decoration: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    transition: 0.2s;

}
.nav-top__button:hover {
    text-shadow: 0px 0px 25px #fff;
    color: #f00;
}
.nav-top li a {
    display: inline-block;
    padding: 12px 10px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    transition: 0.2s;
}

.nav-top li a:hover {
    text-shadow: 0px 0px 25px #fff;
    color: #f00;
}

.social {
    display: flex;
    margin: 0px 20px;
    /*margin-left:auto;*/
    /*margin: 3px 3px 3px 20px;*/
}



.anim-parent  svg{
    transition: 0.3s;
}
.social .anim-parent:hover svg {
    stroke: rgba(100%, 100%, 100%, 0.7);
    /*animation: icon-dasharray 0.7s alternate;*/
}
.line-bot .anim-parent:hover svg {
    fill: rgba(0%, 0%, 0%, 0.2);
    stroke: rgba(0%, 0%, 0%, 0.5);
}

/*@keyframes icon-dasharray {*/
    /*0% { stroke-dasharray: 0 50%;*/
    /*}*/
    /*100% { stroke-dasharray: 50% 0;*/
    /*}*/
/*}*/



.social__facebook-img {
    fill: rgba(100%, 0%, 0%, 0);
    stroke: rgba(100%, 0%, 0%, 0.9);
    stroke-width: 10px;
    width: 35px;
    margin: 5px 5px;
    /*transition: 0.3s;*/
}


.social__vk-img {
    fill: rgba(100%, 0%, 0%, 0);
    stroke: rgba(100%, 0%, 0%, 0.9);
    stroke-width: 1.5px;
    /*stroke-dasharray: 5 5 ;*/
    width: 37px;
    /*height: 35px;*/
    margin: 5px 5px;
    /*transition: 0.3s;*/
}

.social__twitter-img {
    fill: rgba(100%, 0%, 0%, 0);
    stroke: rgba(100%, 0%, 0%, 0.9);
    stroke-width: 20px;
    /*stroke-dasharray: 5 5 ;*/
    width: 35px;
    /*height: 30px;*/
    margin: 5px 5px;
    /*transition: 0.3s;*/
}
/*.social__facebook:hover .social__facebook-img,*/
/*.social__vk:hover .social__vk-img,*/
/*.social__twitter:hover .social__twitter-img {*/
    /*stroke: rgba(100%, 100%, 100%, 0.9);*/
    /*transform: scale(1.1);*/
/*}*/

.line-bot {
    text-align: right;
}

.menu {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    z-index: 1000;
    right: 0px;
    height: 25px;
    padding: 10px 10px;
    background: rgba(100%, 100%, 100%, 0.4);

}

.menu > * {
    margin-left: 10px;

}

.menu__search-form {
    margin: 0;
    /*display: inline-block;*/
    /*background: transparent;*/
    /*height: 100%;*/
    /*width: 200px;*/

}

.menu__search-input {
    display: none;
    box-sizing: border-box;
    background: rgba(100%, 100%, 100%, 0.4);
    border: 1px solid #f00;
    width: 100px;
    height: 100%;
    font-size: 17px;
    color: #f00;
    vertical-align: middle;

}

.menu__search-form:hover .menu__search-input,
.menu__search-input:focus {
    display: inline-block;
}

.menu__search-button {
    display: inline-block;
    background: transparent;
    vertical-align: middle;
    /*margin-left: -5px;*/
}

.menu__search-button-img {
    display: inline-block;
    fill: rgba(100%, 0%, 0%, 0);
    stroke: rgba(100%, 0%, 0%, 0.9);
    stroke-width: 1px;
    /*stroke-dasharray: 5 5 ;*/
    width: 35px;
    /*height: 5px;*/
    margin: 5px 5px 5px 0px;
}

.menu__cart-text {
    display: none;
    color: #f00;
    font-size: 17px;
    background:  rgba(100%, 100%, 100%, 0.4);
    border: 1px solid #f00;
    height: 100%;
    padding: 0px 5px;
    vertical-align: middle;
}

.menu__cart:hover .menu__cart-text {
    display: inline-block;
}
.menu__cart-icon-img {
    display: inline-block;
    fill: rgba(100%, 0%, 0%, 0);
    stroke: rgba(100%, 0%, 0%, 0.9);
    stroke-width: 10px;
    /*stroke-dasharray: 5 5 ;*/
    width: 35px;
    /*height: 5px;*/
    margin: 5px 5px;
    vertical-align: middle;
}

.menu__cart:hover {

}


.menu__signin {
    vertical-align: middle;
    display: inline-block;

}

.menu__signin-img {
    fill: rgba(100%, 0%, 0%, 0);
    stroke: rgba(100%, 0%, 0%, 0.9);
    stroke-width: 7px;
    /*stroke-dasharray: 5 5 ;*/
    width: 35px;
    /*height: 5px;*/
    margin: 5px 5px;
}
















.logo-line {
    width: 100%;
    position: fixed;
    z-index: 3050;
}


.logo {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    /*bottom: 95%;*/
    /*transform: translateY(0px);*/
    height: 80px;

}
.logo__img {
    fill: rgba(100%, 100%, 100%, 0.03);
    stroke: rgba(100%, 100%, 100%, 0.9);
    stroke-width: 1px;
    z-index: 1100;
    width: 370px;
    stroke-dasharray: 550 0;
    animation: logo-dasharray 10s infinite normal;
}
@keyframes logo-dasharray {
    0% {
        fill: rgba(100%, 100%, 100%, 0.03);
        stroke: rgba(100%, 100%, 100%, 0.9);
        stroke-dasharray: 0 500;
    }
    40% {
        fill: rgba(100%, 100%, 100%, 0.03);
        stroke: rgba(100%, 100%, 100%, 0.9);
        stroke-dasharray: 500 0;
    }
    60% {
        fill: rgba(100%, 100%, 100%, 1);
        stroke: rgba(100%, 100%, 100%, 0.9);
        stroke-dasharray: 500 0;
    }
    90% {
        fill: rgba(100%, 100%, 100%, 1);
        stroke: rgba(100%, 100%, 100%, 0.9);
        stroke-dasharray: 500 0;
    }
    100% {
        fill: rgba(100%, 100%, 100%, 0.03);
        stroke: rgba(100%, 100%, 100%, 0);
        stroke-dasharray: 500 0;
    }
}





.banner {
    position: relative;
    padding-top: 80px;
    /*z-index: 1050;*/
}

.banner__arrow-left{
    position: absolute;
    bottom: 1%;
    left: 1%;
    z-index:2100;
}
.banner__arrow-left-img{
    width: 30px;
    fill: rgba(100%, 0%, 0%, 0);
    stroke: rgba(100%, 0%, 0%, 0.9);
    stroke-width: 17px;
}
.banner__arrow-right{
    position: absolute;
    bottom: 1%;
    right: 1%;
    z-index:2100;
}
.banner__arrow-right-img{
    width: 30px;
    fill: rgba(100%, 0%, 0%, 0);
    stroke: rgba(100%, 0%, 0%, 0.9);
    stroke-width: 17px;
}
.banner__slick-dots{
    position: absolute;
    bottom: 3%;
    z-index:1100;
    display: flex;
    justify-content: center;
    width: 100%;
}
.banner__slick-dots-indicators{
    display: flex;
    justify-content: space-between;
    width: 120px;
}
.banner__slick-dots-indicators  li{
    /*display: inline-block;*/
    box-sizing:border-box;
    align-items: center;
    width: 14px;
    height: 14px;
    border: 1px solid #f00;
    border-radius: 7px;
    background: rgba(100%, 0%, 0%, 0);
}
.banner__slick-dots-indicators  li > *{
    display: none;
}
.banner__slick-dots-indicators  li[aria-hidden='false']{
    background: rgba(100%, 0%, 0%, 1);
}



.banner__wrap {
    width: 100%;
}
.banner__item {
    width: 100%;
}
.banner__item-img {
    width: 100%;
}




.banner__text-block {

    position: absolute;
    display: inline-block;
    top: 27%;
    left: 3%;
    width: 30%;
    /*z-index: 5000;*/
    /*background: rgba(100%, 100%, 100%, 0.4);*/
}

.banner__title1 {
    color: #f00;
    font-size: 37px;
    padding-left:0px;
}

.banner__text {
    color: #000;
    font-size: 17px;
    /*text-shadow: 1px -1px 0px #eee;*/
}

.banner__buy {
    display: inline-block;
    color: #000;
    font-size: 20px;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid #f00;
    text-decoration: none;
}



.discounts {

    display: flex;
    justify-content: space-around;
    width: 100%;

}

.discounts-item {
    /*display: inline-block;*/
    /*box-sizing: border-box;*/
    background: rgba(0%, 0%, 0%, 0.1);
    width: 21%;
    color: #fff;
    padding: 20px 10px;
    margin: 50px 10px 10px;
    text-align: center;
}

.discounts-item span {
    display: inline-block;
    font-size: 16px;
    line-height: 14px;

}

.discounts-item mark {
    display: inline-block;
    font-weight: bold;
    font-size: 60px;
    line-height: 30px;
    color: #f00;
    background: inherit;
    padding: 0px 0px 20px 0px;
    transform: scaleY(0.35);
}

.discounts-item a {
    display: inline-block;
    font-size: 17px;
    color: inherit;
    padding: 10px 0px 10px 0px;
}

main .wrapper {
    justify-content: space-around;
    flex-flow: row wrap;
    padding: 10px 0px;
    text-align: center;

}

.item {
    display: inline-block;
    position: relative;
    /*box-sizing: border-box;*/
    width: 30%;
    color: #333;
    margin: 20px 5px;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
}

.item__fig {
    position: relative;
    display: block;
    box-sizing: border-box;
    padding: 10px;
    text-align: left;
    vertical-align: bottom;

}

.item__img-box {
    /*width: 100%;*/
    position: relative;
    overflow: hidden;
    min-height: 270px;
    /*width: 100%;*/
    background: #fff;
    margin-bottom: 10px;
}

.item__img {
    /*top: 5px;*/
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;

}

.item__text-block {
    bottom: 5px;
    text-align: center;
}

.item__title {
    /*display: inline-block;*/
    font-size: 25px;
    color: #fff;
    margin: 5px;
    /*vertical-align: bottom;*/
}

.item__price {
    display: inline-block;
    font-size: 20px;
    color: #f00;
    margin: 5px;
    /*vertical-align: bottom;*/
}

.item__menu {
    position: absolute;
    width: 40px;
    height: 80px;
    top: 15px;
    right: 15px;
}

.item__cart {
    display: block;
    /*position: absolute;*/
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #f00;
    border-radius: 7px;
    transition: 0.2s;

}

.item__cart-icon-img {
    fill: rgba(100%, 0%, 0%, 0);
    stroke: rgba(100%, 0%, 0%, 0.9);
    stroke-width: 9px;
    /*stroke-dasharray: 5 5 ;*/
    width: 35px;
}

.item__cart:hover {
    transform: scale(1.2);
    border: 1px solid #f00;
}

.item__info {
    display: block;
    /*position: absolute;*/
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #f00;
    border-radius: 7px;
    transition: 0.2s;

}

.item__info-img {
    fill: rgba(100%, 0%, 0%, 0);
    stroke: rgba(100%, 0%, 0%, 0.9);
    stroke-width: 20px;
    /*stroke-dasharray: 5 5 ;*/
    width: 35px;
    /*height: 30px;*/
    /*margin: 0;*/
}

.item__info:hover {
    transform: scale(1.2);
    border: 1px solid #f00;
}











footer .wrapper {
    /*display: flex;*/
    flex-flow: column nowrap;
    align-items: stretch;
    color: #fff;
    /*background: rgba(100%, 100%, 100%, 0.7);*/
}

.nav-bot {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    margin-top: 40px;
    padding-bottom:20px;
}

.nav-menu {
    /*display: inline-block;*/
    width: 25%;
    vertical-align: top;
    /*margin-right: -5px;*/
}

.nav-menu__title {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    font-size: 20px;
    text-align: left;
    padding: 15px 25px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    transition: 0.2s;
    /*margin: 10px;*/
}

.nav-menu__list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: stretch;
    font-size: 15px;
    padding: 15px 15px 15px 15px;
}
.nav-menu__line {
    font-size: 17px;
    padding: 5px 0px
}

.nav-menu__link {
    /*box-sizing: border-box;*/
    /*padding: 7px 0px;*/
    display: inline-block;
    text-decoration: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    color: inherit;
    font-size: inherit;
    padding: 0px 10px;
    transition: 0.2s;
}
.nav-menu__link:hover  {
    text-shadow: 0px 0px 25px #fff;
    color: #f00;
}




.copyr {
    padding: 20px 0px 5px;
    font-size: 15px;
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
    border-top: 1px solid #fff;
}














@media screen and (max-width: 1050px) {

    header .line-top {
        height: 50px;
    }
    .banner {
        padding-top: 50px;
    }

    .nav-top {
        margin-right: auto;
        margin-left: 20px;
    }


    .logo-line{
        position: relative;
        z-index: 100;
    }
    .logo {
        top: 50px;
        left: -20px;
        width: 400px;
        /*transform: translateY(0px);*/
        /*height: 50%;*/
    }
    .logo__img{
        width: 100%;
        /*height: 50%;*/
    }


    .banner__text-block {
        box-sizing:border-box;
        top:0%;
        bottom: 0%;
        left: 0%;
        width: 100%;
        padding: 120px 20px 20px;
        background: rgba(100%, 100%, 100%, 0.2);
    }

    .banner__title1 {
        font-size: 35px;

    }

    .banner__text {
        /*mix-blend-mode: exclusion;*/
        text-shadow: 0px 0px 2px #fff;
    }

    .banner__buy {
        font-size: 14px;
        padding: 5px;
    }





    .discounts-item {
        width: 30%;
    }
    .discounts-item:nth-child(3) {
        display: none;
    }

    .item {
        width: 40%;
    }

}






@media screen and (max-width: 650px) {

    .nav-top__button {
        display: inline-block;
    }
    .nav-top ul {
        position: absolute;
        top: 100%;
        left: 0px;
        z-index: 3000;
        display: none;
    }
    .nav-top__button:hover + ul,
    .nav-top ul:hover{
        /*border: 5px solid #00f;*/
        display: flex;
        flex-direction:column;
        align-items:stretch;
        /*padding-top: 15px;*/

    }
    .nav-top li{
        /*border: 5px solid #00f;*/
        background: rgba(0%, 0%, 0%, 0.3);
        margin: 0;
        text-shadow: 0px 0px 5px #000;
    }




    .logo {
        top: 50px;
        left: 0px;
        width: 55%;
        /*height: 50%;*/
    }

    .banner__text-block {
        top:100%;
        /*bottom: 0%;*/
        left: 0%;
        width: 100%;
        padding: 20px 20px 20px;
        background: rgba(100%, 100%, 100%, 0.0);
    }
    .banner__text {
        color: #fff;
        text-shadow: 0px 0px 0px #fff;
    }

    .banner__title1 {
        font-size: 35px;

    }
    .banner__buy {
        color: #fff;
    }






    .discounts  {
        padding-top: 150px;
    }
    .discounts-item {
        width: 70%;
    }
    .discounts-item:nth-child(2) {
        display: none;
    }
    .item {
        width: 70%;
    }






    .nav-bot {
        flex-flow: column nowrap;
    }
    .nav-menu {
        /*display: inline-block;*/
        width: 90%;
        padding: 0px 30px;
        vertical-align: top;
        /*margin-right: -5px;*/
    }
    .nav-menu .nav-menu__title {
        border-bottom: none;
    }
    .nav-menu__title {
        -ms-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }
    .nav-menu__title:hover {
        text-shadow: 0px 0px 25px #fff;
        color: #f00;
    }
    .nav-menu__list {
        display: none;
    }
     .nav-menu__list.display-on {
        display: flex;
     }

}









@media screen and (max-width: 380px) {

    .discounts  {
        padding-top: 230px;
    }
    .item {
        width: 90%;
    }
}